{% extends "index.html" %}

{% block title %}About Us{% endblock %}

{% block content %}
<div class="container">
    <h2>About the Stock Trading System</h2>
    <p>Sean Hampton Jr., Joseph Haney, and Stephen Perry are a dedicated team who are building 
        a user-friendly and secure stock trading system. Our goal is to make buying, selling, 
        and managing stocks easy while giving administrators the tools they need to keep things 
        running smoothly. We're committed to creating a reliable and efficient platform that 
        works for both investors and admins.

        For Help please email support at: ifttrading0@gmail.com
        </p>
</div>
{% endblock %}
